.planInput {
    display: none;
}

.planInput:checked + label,
.planLabel:hover {
    border: var(--border-size) solid var(--focus-color);
    background-color: var(--tertiary-bg-color);
}

.planLabel {
    width: 100%;
    min-width: 9rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 1rem;
    border-radius: var(--border-rounded-sm);
    border: 1px solid var(--medium-text-color);
    cursor: pointer;
    transition: var(--transition);
}

@media (max-width: 768px) {
    .planLabel {
        height: fit-content;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 1rem;
    }
}

.planLabel img {
    width: 3rem;
    object-fit: contain;
}

@media (max-width: 768px) {
    .planLabel img {
        margin-bottom: 0;
    }
}

.planLabel h2 {
    text-transform: capitalize;
    font-size: 1rem;
    color: var(--main-text-color);
}

.planLabel .amount {
    color: var(--dark-text-color);
    margin-block: 0.6rem;
}

.free {
    color: var(--main-text-color);
    font-size: 0.9rem;
}
